.tech {
  padding-left: 2em;
  flex-basis: 35%;
  border-left: 0.5px solid #5e5e5e;
}

.techHeader {
  text-align: center;
  color: #404040;
}

.techList {
  display: flex;
  flex-wrap: wrap;
  /* padding: 0;
  margin: 0; */
  justify-content: space-evenly;
}

.techItems {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.55em 1em 0;
  margin: 0.8em 0.5em;
  border: 1px solid #404040;
  border-radius: 50px;
  font-weight: bold
}

.techItems>p {
  line-height: 0;
  margin-top: 0.45em;
}