.card {
  display: flex;
  background-color: #d9d9d9;
  width: 80%;
  margin: 0 auto;
  padding: 2em;
  border-radius: 10px;
  margin-top: 28%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.025), 0 15px 15px rgba(0, 0, 0, 0.135), 0 30px 30px rgba(0, 0, 0, 0.045), 0 45px 45px rgba(0, 0, 0, 0.055);
  overflow: scroll;
  max-height: 500px;
}


.story {
  padding-right: 2em;
}


.storyHeader {
  display: flex;
  justify-content: space-evenly;
  color: #404040
}


.headshot {
  width: 50px
}


.longBio {
  display: none
}


.tech {
  padding-left: 2em;
  flex-basis: 40%;
  border-left: 0.5px solid #5e5e5e;
}


.techHeader {
  text-align: center;
  color: #404040;
}


.techList {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  justify-content: space-evenly
}


.techItems {
  background-color: #5e5e5e;
  padding: 1em 1.33em 0;
  color: #fff;
  margin: 0.8em 0.5em;
  border-radius: 10px;
  font-weight: bold
}