/* FOOTER */

/* footer box encapsules scroll top btn */
footer {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

/* footer div is entire colored footer area */
.footerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 150px;
  background-color: #d9d9d9;
  color: #404040;
  font-size: 3rem;
}

/* contact icons / links */
.footerDiv>* {
  margin: 0 0.5em;
  color: #404040;
}

.footerDiv>*:hover,
.footerDiv>*:focus {
  opacity: 0.7;
}

.footerDiv>*:focus {
  outline: none
}

.scrollTopBtnDiv {
  margin: 0 auto 0.75em;
}

.scrollTopBtn {
  font-size: 2.5rem;
  background: none;
  border: none;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  color: #d9d9d9;
  padding: 0;
  margin: 0;
}

.scrollTopBtn:focus {
  outline: none;
}

.scrollTopBtn:hover {
  background-color: #1c1c1c;
}

/* FOOTER - MEDIA QUERIES */

@media (max-width: 375px) {
  .footerDiv {
    font-size: 2.5rem;
  }
}
