/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
}

.footerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 150px;
  background-color: #d9d9d9;
  color: #404040;

}

.footerText {
  opacity: 0.5;
}

.scrollTopBtnDiv {
  margin: 0 auto 0.75em;
}

.scrollTopBtn {
  font-size: 2.5rem;
  background: none;
  border: none;
  border-radius: 50px;
  padding: 0 0.25em;
}

.scrollTopBtn:focus {
  outline: none;
}

.scrollTopBtn:hover {
  background-color: #d9d9d9;
}