/* NAV MENU */

ul {
  display: flex;
}

li {
  list-style: none
}

.menuBtn {
  font-family: 'Saira';
  font-weight: bold;
  background-color: #d9d9d9;
  padding: 0.55em 1.5em;
  border-radius: 30px;
}

.menuBtn:hover,
.menuBtn:focus {
  background-color: #bfbfbf;
}

/* NAV MENU - MEDIA QUERIES */

@media (max-width: 600px) {
  .hideFullMenu {
    display: none
  }
}

@media (min-width: 600px) {
  .hideMenuIcon {
    display: none
  }
}
