/* NAV DROPDOWN */

.menuIcon {
  margin: 0 0.35em 0.35em 0;
}

.dropdownMenu {
  display: flex;
  flex-direction: column;
  right: 0;
  background-color: #d9d9d9;
  border: 1px solid #bfbfbf;

  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
    transition: 0.2s ease-in;
  }

  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0;
    transition: 0.2s ease-in;
  }
}

.dropdownMenuItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 1em;
  font-size: 1rem;
  color: #333537;

  &:hover {
    background-color: #f3f5f7;
  }

  &__spacer {
    width: 6px;
  }

  &__text {
    padding: 0px 2px;
  }
}

.menuBtn {
  font-family: 'Saira';
  font-weight: bold;
  background-color: #d9d9d9;
  padding: 0.55em 1.5em;
  border-radius: 30px;
}

.menuBtn:hover,
.menuBtn:focus {
  background-color: #bfbfbf;
}